/* Reset global styles */
* {
    margin: 0;
    padding: 0;
   
}

/* Center the main container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the content to push footer to the bottom */
    min-height: 100vh; /* Ensure the container takes full screen height */
    padding: 20px;
    text-align: center; /* Center-align everything */
}

.about-me {
    display: flex;           /* Enable flexbox */
    flex-direction: column;  /* Stack elements vertically */
    align-items: center;     /* Center-align content */
}

.about-me p {
    margin-bottom: 20px; /* Add spacing below the paragraph */
}

.footer {
    display: flex;        /* Arrange icons horizontally */
    justify-content: center; /* Center the icons */
    gap: 15px;  
       
}


/* Footer icon styles */
.footer a {
    font-size: 3rem;
    color: #0077b5;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 1rem;
    padding-bottom: 15%;
    

}
.footer a:hover {
    transform: scale(1.2);
    color: #dbdb1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.about-me .footer {
    margin-top: 20px; /* Ensure the footer is separated from the paragraph */
}

.img-thumbnail{
    border: none;
    
}
img{
    border-radius: 50%;
    width: 200px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}


