/* General Feedback Styles */
.feedback {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

/* Error Feedback */
.feedback.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* Success Feedback */
.feedback.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.form-control {
  display: block;
  width: 100%;
}

.contact {
  height: 100vh;
  background-image: linear-gradient(rgb(2, 48, 71), rgb(224, 216, 119));

}

.mb-3 {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
label{
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 2px 2px rgba(189, 193, 172, 0.909);
}

.contact h1{
  font-family: "Poetsen One", sans-serif;
  margin-top: none;
  padding-top: 30px;
  font-size: 5rem;
  text-shadow: 1px 2px 2px rgba(189, 193, 172, 0.909);
}
.btn.btn-primary {
  font-family: "Poetsen One", sans-serif;
  background-color: #023047;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.my-resume:hover{
  color: rgb(96, 88, 88); 
    text-decoration: none; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
}